<div ng-controller="tryCtrl" class="view">
	<div class="view__header">
		<div class="view__header__title">
			<div class="view__header__title--primary">{{::model.uiStrings.titlePrimary}}</div>
			<div class="view__header__title--secondary">{{::model.uiStrings.titleSecondary}}</div>
		</div>
	</div>
	<div class="view__content">
		<div class="view__content__scroll-container">
			<input ng-model="model.sentence" ng-change="onChanged()" ng-keypress="onKeyPressed($event)" class="width--100" title="{{::model.uiStrings.sentenceInputTooltip}}"/>
		</div>
	</div>
	<div class="view__footer">
		<button ng-click="find()" ng-class="{'disabled': !canFind()}" title="{{::model.uiStrings.findButtonTooltip}}">{{::model.uiStrings.findButtonText}}</button>
		<button ng-click="run()" ng-class="{'disabled': !canRun()}" title="{{::model.uiStrings.runButtonTooltip}}">{{::model.uiStrings.runButtonText}}</button>
	</div>
</div>